/*all*/
nav#main-nav {
	position:fixed;
	top:20px;
	left:20px;
	right:20px;
	z-index:100;
}
div#body {
	position:absolute;
	top:100px;
	left:20px;
	right:20px;
	bottom:0;
}
@media (min-width: 768px) {
	ul.navbar-right {
		position:relative;
		right:10px;
	}
}
div.x-center {
	position:absolute;
	left:50%;
}
div.y-center {
	position:absolute;
	top:50%;
}
div.panel.panel-default {
	border-width:3px;
	border-radius:10px;
}
div.panel-heading {
	font-weight:bold;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
}
button#submit {
	position:relative;
	top:10px;
}
.quote-text {
	white-space:pre-line;
}
.allow-overflow {
	overflow:auto;
}

/*archives*/
table#archive-entries {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow:auto;
	margin-bottom:0;
}
table#archive-entries th {
	text-align:center;
}
td[id].hover {
	color:#34495e;
	-webkit-user-select:none;
	-webkit-touch-callout:none;
}

/*index*/
button#subscribe {
	position:relative;
	top:5px;
}

/*viewmessage*/
p#message-body {
	position:absolute;
	top:100px;
	left:40px;
	right:0;
	bottom:0;
}
p#message-body, div#last-message>div.panel-body {
	line-height:1.1;
	font-family:monospace;
	font-size:12;
	color:black;
}

/*vote*/
div#vote-row {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
table#votes {
	margin-bottom:0;
}
table#votes>thead>tr>th, table#votes td.center {
	text-align:center;
}
span.icon-checked, span.icon-unchecked {
	z-index:10;
}

/*admin, admin-tools*/
input#username, input#password, input#confirm-password {
	position:relative;
	width:200px;
}
input#password {
	top:5px;
}
input#confirm-password {
	top:10px;
}
button#create-user, button#cancel {
	position:relative;
	top:15px;
}
div#admins>button, div#admins>ul>li>a {
	font-size:20;
}
.center {
	text-align:center;
}
div#admins>ul>li.divider {
	background-color:rgba(202,206,209,.5)
}
div#admins>ul>li>a>span.glyphicon-remove {
	padding-left:20px;
	top:5px;
}
div.row.shift-down {
	position:relative;
	top:30px;
}
div.submission-body, div.vote-body {
	font-weight:bold;
}
div#add-admin {
	display:none;
	position:absolute;
	top:-105px;
	left:-125px;
	width:250px;
	height:265px;
}
ul#submissions, ul#votes {
	font-size:14;
}
span.glyphicon:hover {
	color:#e67e22;
}
span.glyphicon:active {
	color:#3498db;
}